# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-workspace': [
    {
      label: 'SuperCollider: Evaluate selection',
      command: 'supercollider:eval'
    },
    {
      label: 'SuperCollider: Open help file',
      command: 'supercollider:open-help-file'
    }
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'SuperCollider'
      'submenu': [
        { 'label': 'Recompile', 'command': 'supercollider:recompile' }
        { 'label': 'Open post window', 'command': 'supercollider:open-post-window' }
        { 'label': 'Clear post window', 'command': 'supercollider:clear-post-window' }
        { 'label': 'Stop everything', 'command': 'supercollider:cmd-period' }
        { 'label': 'Boot server', 'command': 'supercollider:boot-server' }
        { 'label': 'Quit server', 'command': 'supercollider:quit-server' }
        { 'label': 'Reboot server', 'command': 'supercollider:reboot-server' }
        { 'label': 'Kill all servers', 'command': 'supercollider:kill-all-servers ' }
      ]
    ]
  }
]
