# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-workspace': [
    {
      label: 'SuperCollider: Evaluate selection',
      command: 'supercollider:eval'
    },
    {
      label: 'SuperCollider: Open help file',
      command: 'supercollider:open-help-file'
    }
  ]

'atom-workspace': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'SuperCollider'
      'submenu': [
        { 'label': 'Open post window', 'command': 'supercollider:open-post-window' }
        { 'label': 'Evaluate selection', 'command': 'supercollider:eval' },
        { 'label': 'Open help file', 'command': 'supercollider:open-help-file' }
      ]
    ]
  }
]
