# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/

# Windows and Linux
'atom-workspace':
  'shift-alt-c': 'supercollider:clear-post-window'
"atom-workspace atom-text-editor[data-grammar~='supercollider']":
  'shift-alt-k': 'supercollider:recompile'
  'ctrl-alt-l': 'supercollider:open-post-window'
  'shift-enter': 'supercollider:eval'
  'alt-.': 'supercollider:cmd-period'
  'shift-alt-c': 'supercollider:clear-post-window'
  'ctrl-shift-h': 'supercollider:open-help-file'
  'alt-shift-b': 'supercollider:boot-server'
  'alt-shift-q': 'supercollider:quit-server'
  'alt-shift-q-l': 'supercollider:quit-lang'

# OS X
'.platform-darwin atom-workspace':
  'shift-cmd-c': 'supercollider:clear-post-window'
".platform-darwin atom-workspace atom-text-editor[data-grammar~='supercollider']":
  'cmd-\\': 'supercollider:open-post-window'
  'shift-enter': 'supercollider:eval'
  'shift-cmd-k': 'supercollider:recompile'
  'cmd-.': 'supercollider:cmd-period'
  'shift-cmd-c': 'supercollider:clear-post-window'
  'alt-shift-b': 'supercollider:boot-server'
  'alt-shift-q': 'supercollider:quit-server'
  'ctrl-shift-h': 'supercollider:open-help-file'
