# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/

# Windows and Linux
'atom-workspace':
  'shift-alt-k': 'supercollider:clear-post-window'
"atom-workspace atom-text-editor[data-grammar~='supercollider']":
  'ctrl-alt-l': 'supercollider:open-post-window'
  'shift-enter': 'supercollider:eval'
  'alt-.': 'supercollider:cmd-period'
  'shift-alt-k': 'supercollider:clear-post-window'
  'ctrl-shift-h': 'supercollider:open-help-file'
  'alt-shift-b': 'supercollider:boot-server'
  'alt-shift-q': 'supercollider:quit-server'

# OS X
'.platform-darwin atom-workspace':
  'shift-cmd-c': 'supercollider:clear-post-window'
".platform-darwin atom-text-editor[data-grammar~='supercollider']":
  'cmd-\\': 'supercollider:open-post-window'
  'shift-enter': 'supercollider:eval'
  'shift-cmd-k': 'supercollider:recompile'
  'cmd-.': 'supercollider:cmd-period'
  'shift-cmd-c': 'supercollider:clear-post-window'
  'alt-shift-b': 'supercollider:boot-server'
  'alt-shift-q': 'supercollider:quit-server'
  # you may add these to your personal keymaps
  # scope dependant keymaps are an upcoming atom feature
  # cmd-D is far too popular
  # cmd-shift-h conflicts with git-plus
  # cmd-? would be great but cuts off atom's own help system
  # 'cmd-shift-h': 'supercollider:open-help-file'
